<div class="container">
  <div class="pannel-container row">
    <div class="context col-md-6">
      <div class="primary-heading f-18 fw-600 px-2">
        A Cafe Management System
      </div>
      <div class="f-32 heading fw-600 px-2">
        A Single step solution for all your cafe/ restorant management needs
      </div>
      <div class="heading-secondary f-14 px-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac leo
        eros. Duis laoreet sem nec condimentum bibendum. Morbi dapibus, enim ac
        rhoncus tempor, erat nisl vehicula est, ut molestie diam neque sit amet
        erat. Fusce convallis porttitor ante id ultrices. Donec iaculis sem
        dictum justo lobortis commodo. Fusce porta purus eros, eu bibendum lorem
        egestas ac. Proin nec ligula vel enim sagittis maximus eget eget
        ligula.Morbi feugiat mollis ligula, vel condimentum urna aliquet
        volutpat. Ut non facilisis tortor, id porta enim. Proin congue tempor
        viverra. Vestibulum sed risus quam. Nulla pharetra, quam quis elementum
        ultrices, lectus dui porttitor lacus, et dictum erat neque nec ipsum. In
        posuere ullamcorper cursus. Vivamus iaculis at libero at semper. Aliquam
        rhoncus lorem ut diam pulvinar, id euismod ex feugiat.
      </div>
    </div>
    <div class="col-md-6 p-3 d-flex justify-content-center">
      <img src="assets/images/logo.svg" class="mx-2" height="300" alt="" />
    </div>
  </div>
</div>
